<div class="displayTable">
  <p-toast></p-toast>
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Alterar Senha</h3>

      <p class="text-center">
        Por favor entre com seu e-mail para resetar a senha.
      </p>

      <div class="formGroup">
        <input type="email" placeholder="E-mail" #passwordResetEmail required />
      </div>

      <div class="formGroup">
        <button
          type="submit"
          class="button button-effect"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        >
          Resetar Senha
          <i class="pi pi-lock-open"></i>
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Voltar ? <span class="redirect" routerLink="/login">Login</span></span
      >
    </div>
  </div>
</div>
