.header {
  background: linear-gradient(100deg, #0e961a, #0e9674, #2443f0);
  height: 10vh;
}

.texto {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.texto2 {
  padding: 0% 5%;
  text-align: center;
  margin: auto;
}

.usertitle {
  color: #fff;
  font-size: x-large;
  margin-top: 3%;

  b {
    color: #000;
    font-style: italic;
  }
}

.btn-sair {
  display: inline-flex;
  vertical-align: top;
  height: 35px;
  color: #2443f0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 0.4375rem 0.875rem;
}



.button-options {
  margin: 0 3%;
}

.btn-sair:enabled:hover {
  background-color: #2443f0;
  color: #fff;
  border: 1px solid #fff
}

@media (max-height: 615px) {
  .btn-sair {
    margin-top: 0;
    height: 6vh;
  }
}

@media (max-width: 845px) {
  .usertitle {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .header-img {
    width: 90%;
  }
}
