<!-- Show user data when logged in -->
<!--
<div class="row" *ngIf="authService.userData as user">
  <div class="col-md-12">
    <div class="media">
      <img
        class="align-self-start mr-5 img-thumbnail rounded-circle"
        src="{{ user.photoURL ? user.photoURL : '/assets/images/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <div class="media-body">
        <h1>
          Hello:
          <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
        </h1>
        <p>
          User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
          Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
          Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
        <p-button (click)="authService.SignOut()">Sair</p-button>
      </div>
    </div>
  </div>
</div>
 -->

<div class="background" *ngIf="authService.userData as user">
  <h1 class="texto">Tarefas '{{ user.displayName }}'</h1>
  <div class="ui-g">
    <div class="ui-g-12">
      <button pButton label="Adicionar" type="button" icon="pi pi-plus" class="add-button" (click)="add()"
        pTooltip="Adicionar Tarefa" tooltipPosition="bottom"></button>
    </div>

    <p-table #dt [value]="tasks" [paginator]="true" [rows]="10">
      <tr>
        <th class="content-column" *ngFor="let col of ['Tarefa', 'Horário']">
          {{col}}
          <p-sortIcon [field]="col"></p-sortIcon>
        </th>
        <th style="width: 15%;" class="content-column"></th>
      </tr>
    </p-table>

  </div>
  <p-button (click)="authService.SignOut()">Sair</p-button>
</div>
