<div class="text-left">
  <!-- Dialog de Adição e Edição da Item -->
  <p-dialog id="addEdit-dialog" header="{{dialogTitle}}" [(visible)]="displayAddEdit" [modal]="true"
    [baseZIndex]="10000" [formGroup]="taskForm">
    <!-- Formulário -->
    <div class="p-fluid">
      <!-- Nome -->
      <div class="p-field">
        <label for="task">Tarefa</label>
        <input id="task" type="text" pInputText formControlName="task" minlength="2" placeholder="Tarefa" required />
      </div>
      <!-- Horário -->
      <div class="p-field">
        <label for="time">Horário</label>
        <!-- <p-calendar id="time" type="text" [timeOnly]="true" hourFormat="24" formControlName="time" placeholder="Horário" required ></p-calendar> -->
        <!-- <input id="time" type="text" pInputText formControlName="time" minlength="2" placeholder="Horário" required /> -->
        <!-- <p-calendar formControlName="time" dateFormat="yyyy-mm-dd, HH:mm:ss" [timeOnly]="true" (onSelect)="setTime($event)" inputId="time"></p-calendar> -->
        <input id="time" type="time" pInputText formControlName="time" minlength="2" placeholder="Tarefa" required />

      </div>
      <!-- Categoria -->
      <div class="p-field">
        <label for="category">Categoria</label>
        <p-dropdown [options]="categories" formControlName="category" placeholder="Categoria" editable="false">
        </p-dropdown>
      </div>
      <!-- Situação -->
      <div class="p-field">
        <label for="status">Situação</label>
        <p-dropdown [options]="status" formControlName="status" placeholder="Situação" editable="false"></p-dropdown>
      </div>
      <!-- Descrição -->
      <div class="p-field">
        <label for="description">Descrição</label>
        <textarea rows="7" pInputText cols="37" pInputTextarea placeholder="Descrição" formControlName="description"
          autoResize="autoResize"></textarea>
      </div>
    </div>
    <!-- Big Buttons -->
    <div id="big-buttons" class="p-field">
      <button pButton class="btn-secondary margin-10" type="button" label="Cancelar" icon="pi pi-times"
        (click)="cancelAddAndEdit()" pTooltip="Cancelar" tooltipPosition="bottom"></button>
      <button pButton type="button" label="Salvar" icon="pi pi-check" (click)="save()" [disabled]="!taskForm.valid"
        pTooltip="Salvar" tooltipPosition="bottom" *ngIf="!isEditar"></button>
      <button pButton type="button" label="Atualizar" icon="pi pi-check" (click)="update()" [disabled]="!taskForm.valid"
        pTooltip="Atualizar" tooltipPosition="bottom" *ngIf="isEditar"></button>
    </div>
    <!-- Small Buttons -->
    <div id="small-buttons" class="p-field">
      <button pButton class="btn-secondary margin-10" type="button" icon="pi pi-times" (click)="cancelAddAndEdit()"
        pTooltip="Cancelar" tooltipPosition="bottom"></button>
      <button pButton type="button" icon="pi pi-check" (click)="save()" [disabled]="!taskForm.valid" pTooltip="Salvar"
        tooltipPosition="bottom" *ngIf="!isEditar"></button>
      <button pButton type="button" icon="pi pi-check" (click)="update()" [disabled]="!taskForm.valid"
        pTooltip="Atualizar" tooltipPosition="bottom" *ngIf="isEditar"></button>
    </div>
  </p-dialog>
  <!-- Dialog de Exclusão do Item -->
  <p-dialog id="delete-dialog" header="Excluir Tarefa" [(visible)]="displayDelete" [modal]="true"
     [baseZIndex]="10000">
    <p class="margin-0">Excluir a tarefa - <b>'{{itemNome}}'</b></p>
    <div >
      <button pButton class="no" type="button" icon="pi pi-times" (click)="cancelDelete()" pTooltip="Cancelar"
        tooltipPosition="bottom"></button>
      <button pButton class="yes" type="button" icon="pi pi-check" (click)="delete()" pTooltip="Confirmar"
        tooltipPosition="bottom"></button>
    </div>
  </p-dialog>
  <!-- Dialog de Exibição da descrição -->
  <p-dialog header="{{dialogTitle | titlecase}}" [(visible)]="displayDescription" [modal]="true"
    [style]="{width: '40vw'}" [baseZIndex]="10000">
    <p class="margin-0">{{description}}</p>
  </p-dialog>

  <!-- <b>{{ taskForm.value | json }}</b> -->

</div>
