.dialog-text {
  font-size: 1.0rem;
}

.action-button {
  color: #fff;
  height: 50px;
  width: 8vw;
  color: #fff;
  border-radius: 5px;
  font-size: 1.20rem;
}

.yes {
  gap: 10px;
  margin: 8%;
  background-color: #b91313;
  border: 1px solid #b91313;
}

.yes:enabled:hover {
  background-color: #fff;
  color: #b91313;
  border: 1px solid #b91313
}

.no {
  gap: 10px;
  margin: 8%;
  background-color: #0e961a;
  border: 1px solid #0e961a;
}

.no:enabled:hover {
  background-color: #fff;
  color: #0e961a;
  border: 1px solid #0e961a
}

#small-buttons {
  display: none;
}

#small-delete-buttons {
  display: none;
}

#delete-dialog {
  width: 10%;
}

@media (max-width: 750px) {
  #delete-dialog {
    display: inline-block;
    vertical-align: top;
    top: 10%;
    left: 50%;
    width: 90%;
    height: 10%;

  }

  #big-buttons {
    display: none;
  }

  #small-buttons {
    display: inline;
    gap: 8px;
  }

  #addEdit-dialog {
    top: 10%;
    width: 90%;
    height: 10%;
    display: inline-block;
    vertical-align: top;
  }

  button {
    display: inline;
    gap: 1px;
    text-align: center;
    margin: 1%;
    width: 20vw;
    font-size: x-small;
  }
}

@media (max-height: 620px) {
  button {
    display: inline;
  }

  #big-buttons {
    display: none;
  }

  #small-buttons {
    display: inline;
    height: 25vh;
    gap: 8px;
  }

  #addEdit-dialog {
    top: 10%;
    left: 50%;
    width: 90%;
    height: 10%;
    display: inline-block;
    vertical-align: top;
  }
}
