<div class="background">
  <div class="background-img">
    <p-toast></p-toast>

    <br />

    <div class="texto">
      <img src="../assets/images/logo.png" height="100" />
      <p class="titulo-app">Seja Bem-Vindo</p>
    </div>

    <div class="container">
      <form [formGroup]="loginForm">
        <div class="container-menu">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <h4>Login</h4>
              <label for="login">Usuário</label><br />
              <input
                id="login"
                type="text"
                pInputText
                formControlName="username"
                placeholder="Usuário"
                required
                minlength="4"
                maxlength="20"
              />
            </div>

            <br />

            <div class="ui-g-12 ui-md-12">
              <label for="senha">Senha</label
              ><br />
              <div class="p-inputgroup">
                <input
                  id="senha"
                  type="{{ mostrarSenha ? 'text' : 'password' }}"
                  pInputText
                  formControlName="password"
                  placeholder="Senha"
                  required
                  minlength="4"
                  maxlength="30"
                />
                <button
                  type="button"
                  icon="{{ mostrarSenha ? 'pi pi-eye' : 'pi pi-eye-slash' }}"
                  pButton
                  pRipple
                  (click)="showPassword()"

                  tooltipPosition="bottom"
                ></button>
              </div>
            </div>
          </div>

          <p class="texto2">
            Copyright © {{ year }}
            <strong>
              <u pTooltip="Tarefas" tooltipPosition="bottom">Tarefas</u> </strong
            >. Todos os direitos reservados
          </p>

          <br />

          <div class="center-text">
            <button
              type="submit"
              pButton
              (click)="login()"
              label="Entrar"
              [disabled]="!loginForm.valid"
              tooltipPosition="bottom"
            ></button>

            <!-- <button
              pButton
              type="submit"
              icon="pi pi-spin pi-spinner"
              label="{{ 'login.loading' }}"
            ></button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
