<div id="page-auth">
  <aside>
    <img
      src="assets/images/illustration.svg"
      alt="Ilustração simulando perguntas e respostas"
    />
    <strong>Gerencie toda sua rotina pessoal</strong>
    <p>Marque todas suas tarefas e programe lembretes</p>
  </aside>
  <main>
    <div class="main-content">
      <img
        src="assets/images/logo.png"
        alt="letmeask"
        width="220"
        height="100"
      />

      <form [formGroup]="loginForm">
        <input
          type="text"
          placeholder="E-mail"
          formControlName="email"
          required
          minlength="13"
        />
        <input
          type="password"
          placeholder="Senha"
          formControlName="password"
          minlength="4"
        />
        <button
          class="button button-effect"
          icon="pi-step-forward"
          type="submit"
          [disabled]="!loginForm.valid"
          (click)="login()"
        >
          Login
          <i class="pi pi-step-forward"></i>
        </button>
        <div class="separator">ou</div>
        <button class="google-login button-effect" (click)="authService.GoogleAuth()">
          <i class="pi pi-google"></i>
          Faça login com o Google
        </button>

      </form>
      <div class="user-account-question">
        Não é registrado ainda? <a routerLink="/register">Clique aqui</a>
      </div>
      <div class="forgot-password">
        <span routerLink="/forgot-password">Esqueceu a senha ?</span>
      </div>
    </div>
  </main>
</div>
