#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {

    .background-img {
      background-image: url(../../../assets/images/illustration.svg);
      background-position: bottom;
      background-repeat: no-repeat, repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      min-height: 100vh;
    }

    flex: 7;

    background: linear-gradient(100deg, #0e961a, #0e9674, #2443f0);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    padding: 8 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    >img {
      height: 15%;
      margin-bottom: 20px;
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        width: 100%;
        border-radius: 8px;
        padding: 0 16px;
        margin-bottom: 25px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #2443f0;
      }

    }
  }

  .google-login {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #fff;
    padding: 0 32px;
    margin-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 1px solid #a8a8b3;

    transition: filter 0.2s;

    i {
      margin-right: 20px;
      font-size: x-large;
      color: #EA4335;
      font-weight: 800;
    }

    &.outlined {
      background: #fff;
      border: 1px solid #0e961a;
      color: #0e961a;
    }

    &:not(:disabled):hover {
      filter: brightness(0.9);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .login {

    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    font-size: x-large;
    background: #0e961a;
    color: #fff;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    i {
      margin-left: 20px;
      font-size: medium;
      color: #fff;
      font-weight: 500;
    }

    &.outlined {
      background: #fff;
      border: 1px solid #0e961a;
      color: #0e961a;
    }

    &:not(:disabled):hover {
      filter: brightness(0.9);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}

@media (max-width: 850px) {
  #page-auth aside {
    display: none;
  }
}

@media (max-height: 540px) {
  img {
    display: none;
  }

  .separator span {
    display: none;

  }

  .separator {
    &::before, &::after{
      display: none;

    }
  }

  #page-auth {
    padding-top: 10%
  }

  .button {
    margin-top: -5%

  }

  .google-login {
    width: 50%;
    margin-top: -13%;
  }

  .main-content form input {
      margin-top: -50%;
      margin-bottom: -20%;
  }

}


