<div id="page-auth">
  <aside>
    <img
      src="assets/images/illustration.svg"
      alt="Ilustração simulando perguntas e respostas"
    />
    <strong>Gerencie toda sua rotina pessoal</strong>
    <p>Marque todas suas tarefas e programe lembretes</p>
  </aside>
  <main>
    <div class="main-content">
      <img
        src="assets/images/logo.png"
        alt="letmeask"
        width="220"
        height="100"
      />
      <form [formGroup]="registerForm">
        <input
          type="text"
          placeholder="E-mail"
          formControlName="username"
          required
          minlength="4"
          maxlength="20"
        />
        <input
          type="text"
          placeholder="Senha"
          formControlName="password"
          minlength="4"
          maxlength="20"
        />
        <input
          type="text"
          placeholder="Nome"
          formControlName="name"
          required
          minlength="4"
          maxlength="20"
        />
        <button
          class="login"
          [disabled]="!registerForm.valid"
          icon="pi-step-forward"
          type="submit"
        >
          Registrar
          <i class="pi pi-step-forward"></i>
        </button>
      </form>
      <div class="user-account-question" >
        Ja possui uma conta? <a routerLink="/login">Clique aqui</a>
      </div>
    </div>
  </main>
</div>
